[Unit]
Description=dotnet app running on server now

[Service]
WorkingDirectory=/var/apps/backend/laundr_backend_app
ExecStart=/usr/bin/dotnet /var/apps/backend/laundr_backend_app/WebAPI.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=cofee app main runing on server now!
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target