name: Prod | Dotnet app deployment workflow
on:
  push: 
    branches: [main]

jobs:
  job_one:
    name: Clone repo
    runs-on : ubuntu-latest
    steps:
      - name: establisihing ssh connection
        uses: appleboy/ssh-action@master
        with:
          host: 95.163.241.193
          username: root
          key: ${{ secrets.LINUX_DEPLOY_SECRET }}
          port: 22
          script: |
            whoami

            # спасаем активы
            # cp -R /var/apps/backend/wet_hands_backend/Assets/ /var/apps/backend/wet_hands_backend_assets_backup

            cd /root/apps_sources/
            rm -rf /root/apps_sources/wet_hands_backend
            rm -rf /var/apps/backend/wet_hands_backend
            git clone git@github.com:davidishe/wet_hands_backend.git
  
  job_two:
    name: Install dotnet packages
    runs-on : ubuntu-latest
    needs: [job_one]
    steps:
      - name: establisihing ssh connection
        uses: appleboy/ssh-action@master
        with:
          host: 95.163.241.193
          username: root
          key: ${{ secrets.LINUX_DEPLOY_SECRET }}
          port: 22
          script: |
            whoami
            set -eo pipefail
            
            cd /root/apps_sources/wet_hands_backend/WetHands.WebAPI/Properties/
            cp -f launchSettings.Protected.Production.json launchSettings.json

            cd /root/apps_sources/wet_hands_backend/WetHands.WebAPI/
            cp -f appsettings.Protected.Production.json appsettings.json

            sed -i 's/MAILJET_API_SECRET/'${{ secrets.MAILJET_API_SECRET }}'/' appsettings.json
            sed -i 's/MAILJET_API_KEY/'${{ secrets.MAILJET_API_KEY }}'/' appsettings.json
            sed -i 's/DATABASE_PASSWORD/'${{ secrets.DATABASE_PASSWORD }}'/' appsettings.json

            systemctl stop wet_hands_backend

            cd /root/apps_sources/wet_hands_backend/
            dotnet restore
        

            rm -rf /var/apps/backend/wet_hands_backend
            mkdir -p /var/apps/backend/wet_hands_backend
            

  job_tree:
      name: Publish dotnet app
      runs-on : ubuntu-latest
      needs: [job_two]
      steps:
        - name: establisihing ssh connection
          uses: appleboy/ssh-action@master
          with:
            host: 95.163.241.193
            username: root
            key: ${{ secrets.LINUX_DEPLOY_SECRET }}
            port: 22
            script: |
              whoami
              cd /root/apps_sources/wet_hands_backend/WetHands.WebAPI
              dotnet publish -c Release -o ../../wet_hands_backend


  job_four:
    name: Move files to work directory
    runs-on : ubuntu-latest
    needs: [job_tree]
    steps:
      - name: establisihing ssh connection
        uses: appleboy/ssh-action@master
        with:
          host: 95.163.241.193
          username: root
          key: ${{ secrets.LINUX_DEPLOY_SECRET }}
          port: 22
          script: |
            whoami
            cd /root/apps_sources/wet_hands_backend
            
            mkdir -p /var/apps/backend
            mkdir -p /var/apps/backend/wet_hands_backend
            cp -R . /var/apps/backend/wet_hands_backend
            cp WetHands.WebAPI/CI/wet_hands_backend.service /etc/systemd/system/
            mkdir -p /etc/nginx/nginx_configs/
            cp /root/apps_sources/wet_hands_backend/WetHands.WebAPI/CI/api-laundr.rwaplace.io.conf /etc/nginx/nginx_configs/

            mkdir -p /var/apps/backend/wet_hands_backend/Assets
            mkdir -p /var/apps/backend/wet_hands_backend/Assets/Images
            mkdir -p /var/apps/backend/wet_hands_backend/Assets/Images/Users
            mkdir -p /var/apps/backend/wet_hands_backend/Assets/Pictures

            # возвращаем активы
            # cd /var/apps/backend/wet_hands_backend_assets_backup/
            cp -R . /var/apps/backend/wet_hands_backend/Assets/ 
            # rm -rf /var/apps/backend/wet_hands_backend_assets_backup
    
            systemctl enable wet_hands_backend.service
            systemctl restart wet_hands_backend.service



  final_jobe:
    name: Delete old staff
    runs-on : ubuntu-latest
    needs: [job_four]
    steps:
      - name: establisihing ssh connection
        uses: appleboy/ssh-action@master
        with:
          host: 95.163.241.193
          username: root
          key: ${{ secrets.LINUX_DEPLOY_SECRET }}
          port: 22
          script: |
            whoami
            # delete git clone directory
            rm -rf /root/apps_sources/wet_hands_backend
            # delete publish directory
            rm -rf /root/apps_sources/wet_hands_backend
